.slider_container {
    margin-bottom: 3rem;

}

.each-slide>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 450px;
    border-radius: 8px;
    padding: 0 1em;
}

.each-slide span {
    padding: 20px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: white;
}


@media screen and (min-width: 800px) {
    .each-slide>div {
        height: 550px;
    }

    .each-slide span {
        font-size: 3rem;
    }
}

@media screen and (min-width: 900px) {
    .each-slide>div {
        height: 650px;
    }

    .each-slide span {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .each-slide>div {
        height: 680px;
    }

    .each-slide span {
        font-size: 4rem;
    }
}