.productDisplay__wrapper{
    margin: 8rem auto -8rem auto;
    width: 94%;
    max-width: 1500px;
}

.products_card_display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.products__card{
    width: 100%;
    height: 600px;
    background: rgb(238, 233, 233);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.products__card:hover{
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgb(214, 211, 211);
    transition: all .4s ease;
}

.card__image img{
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    height: 380px;
    display: block;
    object-fit: fill;
    border-radius: 10px;
}

.product__details{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.product__details h2{
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: .5rem;
    flex: 1;
}

.product__details h3{
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2.1rem;
    flex: 1;
}

.cart__btn{
    width: fit-content;
    background: #b388eb;
    border-radius: 5px;
}

.cart__btn button{
    color: white;
    font-weight: 600;
    flex: 1;
}

.cart__btn button:hover{
    color: white;
    background: #8f5ecf;
}

@media(max-width: 1070px){

    .product__details h2{
        font-size: 1.5rem;
    }

    .product__details h3{
        font-size: 1.3rem;
    }
}

@media(max-width: 1000px){
    
    .products_card_display{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .products__card{
        height: 500px;
    }

    .card__image img{
        height: 320px;
    }

    .product__details h2{
        font-size: 1.7rem;
    }

    .product__details h3{
        font-size: 1.5rem;
    }
}

@media(max-width: 780px){
    
    .products_card_display{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .products__card{
        width: 98%;
        max-width: 400px;
    }

    .product__details h2{
        font-size: 1.3rem;
    }

    .product__details h3{
        font-size: 1.1rem;
    }
}

@media(max-width: 580px){
    
    .products_card_display{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .products__card{
        width: 100%;
        max-width: 100%;
    }

    .product__details h2{
        font-size: 1.5rem;
    }

    .product__details h3{
        font-size: 1.3rem;
    }
}